<div class="py-3">
    <h4 class="username" *ngIf="userName !== ''">
        Hi, <span>{{userName}}</span>
    </h4>
    <hr>
    <div class="updates-wrapper">
        <form [formGroup]="viewUpdateForm">
            <div class="filter-wrapper">
                <ngb-accordion #acc="ngbAccordion">
                    <ngb-panel title="Filters">
                        <ng-template ngbPanelContent>
                            <ng-container *ngIf="projectsList.length > 0">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ng-template #rt let-r="result" let-t="term">
                                            <ngb-highlight [result]="r.projectName" [term]="t"></ngb-highlight>
                                        </ng-template>
                                        <div class="form-group mb-0">
                                            <label for="exampleInputEmail1">Select Project</label>
                                            <input id="typeahead-basic" type="text" class="form-control"
                                                formControlName="projectName" [ngbTypeahead]="searchProject"
                                                typeahead-show-hint="true" placeholder="Select Project"
                                                (selectItem)="onChangeProject($event)" [resultTemplate]="rt"
                                                [inputFormatter]="formatter" #instance="ngbTypeahead"
                                                (focus)="focus$.next($any($event).target.value)"
                                                (click)="click$.next($any($event).target.value)"
                                                (input)="getProjectName($event)" />
                                        </div>
                                    </div>
                                    <!-- <div class="col-sm-4">
                                        <div class="form-group mb-0">
                                            <label for="exampleInputEmail1">Select Project</label>
                                            <select class="form-control" formControlName="projectId"
                                                (change)="onChangeProject()">
                                                <option value="0">All</option>
                                                <option *ngFor="let project of projectsList" [value]="project.projectId">
                                                    {{project.projectName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="col-sm-4">
                                        <div class="form-group mb-0">
                                            <label for="exampleInputEmail1">Select Employee</label>
                                            <select class="form-control" formControlName="userId" placeholder="test"
                                                (change)="getTaskDetail()">
                                                <option value="0">All</option>
                                                <ng-container>
                                                    <option *ngFor="let employee of employeeList"
                                                        [value]="employee.userId">
                                                        {{employee.userName}}
                                                    </option>
                                                </ng-container>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- <div class="col-sm-2" *ngIf="dailyUpdateDetail.length > 0"> -->
                                    <div class="col-sm-2">
                                        <div class="form-group mb-0">
                                            <label for="exampleInputEmail1">Group By</label>
                                            <select class="form-control" formControlName="groupBy"
                                                (change)="getTaskDetail()">
                                                <option *ngFor="let groupByOption of groupByOptions"
                                                    [value]="groupByOption">
                                                    {{groupByOption}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- <div class="col-sm-2" *ngIf="dailyUpdateDetail.length > 0"> -->
                                    <div class="col-sm-2">
                                        <div class="form-group mb-0">
                                            <label> Show entries</label>
                                            <select class="form-control" formControlName="itemsPerPage"
                                                (change)="changePagesize()">
                                                <option [ngValue]="pageSizeOption"
                                                    *ngFor="let pageSizeOption of pageSizeOptions">
                                                    {{ pageSizeOption }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>From Date</label>
                                            <div class="input-group">
                                                <input class="form-control datepicker" placeholder="yyyy-mm-dd" readonly
                                                    formControlName='fromDate' name="fromDate" ngbDatepicker
                                                    #fromDate="ngbDatepicker" [maxDate]="maxDate" [minDate]="minDate"
                                                    [positionTarget]="buttonEl" (ngModelChange)="onChangeDateFilter()">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary calendar fa fa-calendar"
                                                        #buttonEl (click)="fromDate.toggle()" type="button">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label>To Date</label>
                                            <div class="input-group">
                                                <input class="form-control datepicker" placeholder="yyyy-mm-dd" readonly
                                                    formControlName='toDate' name="toDate" ngbDatepicker
                                                    #toDate="ngbDatepicker" [maxDate]="maxDate" [minDate]="minDate"
                                                    [positionTarget]="buttonEl" (ngModelChange)="onChangeDateFilter()">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary calendar fa fa-calendar"
                                                        #buttonEl (click)="toDate.toggle()" type="button">
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="error-message">
                                            <small> {{this.dateFilterError}} </small>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group">
                                            <label class="mb-4"> </label>
                                            <button type="button" class="btn btn-danger reset-filter"
                                                (click)="resetForm()">
                                                <i class="fa fa-undo" aria-hidden="true"></i>
                                                Reset Filters
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <ng-container>
                                <p class="filter-loading" *ngIf="projectsList.length === 0">
                                    <i class="fa fa-spinner fa-spin mr-2" aria-hidden="true"></i>
                                    Loading
                                </p>
                            </ng-container>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>

            <table class="table" *ngIf="apiCalled">
                <thead>
                    <th class="update-cell-1">
                        {{ (this.f['groupBy']['value'] === 'User')? 'Project' : 'Employee' }}
                    </th>
                    <th class="update-cell-1" *ngIf="showHistory">Date</th>
                    <th class="update-cell-2">Task</th>
                    <th class="update-cell-3" *ngIf="!showHistory">Description</th>
                    <th class="update-cell-4" *ngIf="!showHistory">Estimated Hour</th>
                    <th class="update-cell-5">Actual Hour</th>
                    <th class="update-cell-6" *ngIf="!showHistory">Status</th>
                    <th class="update-cell-7">
                        <i class="fa fa-clock-o" aria-hidden="true" ngbTooltip="Tracker" placement="bottom"></i>
                    </th>
                    <th class="update-cell-8">Comments</th>
                </thead>
                <tbody>
                    <ng-container *ngIf="dailyUpdateDetail.length === 0">
                        <td colspan="8" class="table-title-td">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            No data found.
                        </td>
                    </ng-container>
                    <ng-container
                        *ngFor="let project of dailyUpdateDetail | slice: pageSize | slice: 0:f['itemsPerPage']['value']">
                        <tr>
                            <td colspan="8" class="table-title-td">
                                {{ project.groupByTitle }}
                            </td>
                        </tr>
                        <ng-container *ngFor="let user of project.groupResult ; let j= index;">
                            <tr *ngFor="let task of user.taskList ; let i= index;">
                                <td class="update-cell-1" [attr.rowspan]="user.taskList.length" *ngIf="i === 0">
                                    {{user.elementTitle}}</td>
                                <td class="update-cell-1" *ngIf="showHistory"> {{task.taskCreatedOn}}
                                </td>
                                <td class="update-cell-2"> {{task.taskMasterTitle}} </td>
                                <td class="update-cell-3" *ngIf="!showHistory"> {{task.taskDesc}} </td>
                                <td class="update-cell-4" *ngIf="!showHistory"> {{task.estHr}}</td>
                                <td class="update-cell-5">
                                    <span *ngIf="task.isEodUpdate">
                                        {{task.actualHr}}
                                    </span>
                                </td>
                                <td class="update-cell-6" *ngIf="!showHistory">
                                    <span *ngIf="task.statusTitle === 'REMAINING' && task.isEodUpdate"
                                        class="badge badge-secondary">REMAINING</span>
                                    <span *ngIf="task.statusTitle === 'INPROGRESS' && task.isEodUpdate"
                                        class="badge badge-primary">INPROGRESS</span>
                                    <span *ngIf="task.statusTitle === 'COMPLETED' && task.isEodUpdate"
                                        class="badge badge-success">COMPLETED</span>
                                </td>
                                <td class="update-cell-7">
                                    <i class="fa fa-check-circle-o green-icon" aria-hidden="true"
                                        ngbTooltip="With tracker" *ngIf="task.isTrackerUsed  && task.isEodUpdate"
                                        placement="bottom"></i>
                                    <i class="fa fa-times-circle-o red-icon" aria-hidden="true"
                                        ngbTooltip="Without tracker" *ngIf="!task.isTrackerUsed  && task.isEodUpdate"
                                        placement="bottom"></i>
                                </td>
                                <td class="update-cell-8" *ngIf="task.isEodUpdate"> {{task.eodComments}} </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>

            <div class="row" *ngIf="dailyUpdateDetail.length > 0">
                <div class="col-12">
                    <ngb-pagination [collectionSize]="dailyUpdateDetail.length" #numPages
                        [pageSize]="f['itemsPerPage']['value']" [(page)]="currentPage"
                        (pageChange)="onPageChange(currentPage)">
                    </ngb-pagination>
                </div>
            </div>
        </form>
    </div>
</div>