/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap";

:root {
  --blue: #0784c7;
  --black: #333333;
  --black2: #202020;
  --light-gray: #f1f1f1;
  --gray: #777;
}

body {
  font-family: poppins;
}

a {
  color: var(--blue);
}

.bg-light {
  background-color: #f5f5f5 !important;
}

.body-container {
  min-height: calc(100vh - 100px);
  padding: 0 50px 0 50px;
}

.container-header{
  padding: 0 50px 0 50px;
}

footer {
  font-size: 14px;
  display: flex;
  width: 100%;
  height: 44px;
  align-items: center;
}

app-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 100px);
}

.login-wrapper {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-wrapper h4 {
  font-size: 30px;
  color: var(--blue);
  font-family: poppins;
  font-weight: 600;
  text-align: center;
}

.login-wrapper .sub-title {
  font-size: 16px;
  color: var(--black2);
  font-family: poppins;
  font-weight: 500;
  text-align: center;
}

.username span {
  color: var(--blue);
}

.table-title-td {
  text-align: center;
  background: var(--blue);
  color: #fff;
  font-weight: 500;
}

.table th,
.table td {
  font-size: 14px
}

.error-message {
  color: red;
}

.disable {
  color: lightblue;
}

.select-sm {
  width: 70px;
}

.header-icon {
  font-size: 18px;
  cursor: pointer;
}

#navbarSupportedContent .nav-item {
  margin-left: 1.5rem;
}

#navbarSupportedContent .nav-item:first-child {
  margin-left: auto;
}

.nav-item:focus,
#closepopup:focus,
.header-icon:focus {
  outline: none;
}

.dropdown-width {
  width: 150px;
}

.description {
  width: 320px;
}

.red-icon {
  color: red;
  font-size: 18px;
}

.green-icon {
  color: green;
  font-size: 18px;
}

.footer-heart {
  text-align: right;
}

.emoji {
  vertical-align: middle;
}

.cell-1 {
  width: 250px;
}

.cell-2 {
  width: 200px;
}

.cell-3 {
  width: 250px;
}

.cell-4 {
  width: 75px;
}

.cell-5 {
  width: 75px;
}

.pagination {
  justify-content: center;
  margin-bottom: 0;
}

.page-item.disabled .page-link {
  border-color: var(--blue);
}

.page-item .page-link {
  color: var(--blue);
  min-width: 40px;
  text-align: center;
  outline: none;
  box-shadow: none;
  border-color: var(--blue);
}

.page-item.active .page-link {
  background-color: var(--blue);
  border-color: var(--blue);
  outline: none;
  box-shadow: none;
}

.page-link:hover {
  background-color: var(--light-gray);
  color: var(--blue);
}

.update-cell-1 {
  width: 15%;
}

.update-cell-2 {
  width: 15%;
}

.update-cell-3 {
  width: 25%;
  white-space: break-spaces;
  word-break: break-word;
}

.update-cell-4 {
  width: 5%;
}

.update-cell-5 {
  width: 5%;
}

.update-cell-6 {
  width: 5%;
}

.update-cell-7 {
  width: 5%;
}

.update-cell-8 {
  width: 25%;
}

.filter-wrapper .accordion .card {
  border-radius: 0;
  overflow: visible;
}

.filter-wrapper .accordion .card-header {
  padding: 0;
  text-align: right;
  background-color: #f5f5f5;
}

.filter-wrapper .accordion .card-header .btn-link {
  color: var(--blue);
  font-weight: 500;
  outline: none;
  box-shadow: none;
}

.updates-wrapper {
  position: relative;
  padding-top: 39px;
}

.updates-wrapper .filter-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.google-link {
  word-break: break-all;
}

.datepicker {
  background-color: white !important;
}

.reset-filter {
  margin-top: 31px;
  width: 100%;
  height: 39px;
}

ngb-typeahead-window.dropdown-menu {
  max-height: 200px !important;
  overflow-y: auto;
}

.filter-loading {
  color: var(--blue);
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
